fastapi
uvicorn
gunicorn
langchain
langchain-community
langgraph
langchain-groq
qdrant-client
sentence-transformers
tavily-python
psycopg2-binary 
python-dotenv 
beautifulsoup4 
requests
rank-bm25
aiohttp
streamlit